/**
* @name LilyPichu
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

/* Remove decorations */
@import url("https://nyri4.github.io/LilyPichu/stuff/overlay.css");

:root {
  /* --- User variables --- */

  /* Jumping GIF */
  --jumping-gif: url("https://i.imgur.com/dCd49s0.gif");

  /* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
  --background-tertiary-alt: #d1c4e9;

  /* Border-radius for the whole theme */
  --border-radius: 20px;
}

.theme-dark {
  /* Text */
  --text-normal: #e1d5f8;
  --header-primary: #e1d5f8;
  --interactive-normal: #b39ddb;
  --channels-default: #e1d5f8;

  --text-muted: #c1b5e2;
  --interactive-muted: #8c91ad;

  --header-secondary: #c1b5e2;
  --interactive-hover: #c1b5e2;
  --interactive-active: #c1b5e2;

  /* Background color */
  --background-primary: #4a3b5e;
  --background-secondary: #3a2949;
  --background-secondary-alt: #2d1d3b;
  --background-tertiary: #1a0f22;
  --background-floating: #1a1122;
  --background-accent: #6c53c5;
  --channeltextarea-background: var(--background-secondary);
  --modal-background: var(--background-primary);
  --background-modifier-hover: #4a3b5e3b;
  --background-modifier-active: #4a3b5e58;
  --background-modifier-selected: #4a3b5e68;
  --toast-background: #4a3b5e !important;
  --toast-header: #2d1d3b !important;
  --toast-contents: #3a2949 !important;
  --toast-border: #3a2949 !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-primary);
}
.colorBrand-3cPPsm {
  color: #6c53c5;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #6c53c5 !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #5a4ab6 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #6c53c5;
  border-color: #6c53c5;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.theme-light {
  /* Text */
  --text-normal: #7363a8;
  --header-primary: #7363a8;
  --interactive-normal: #7363a8;
  --channels-default: #7363a8;

  --text-muted: #7363a8;
  --interactive-muted: #a092cf;

  --header-secondary: #a092cf;
  --interactive-hover: #8c7dbe;
  --interactive-active: #7f6fb3;

  /* Background color */
  --background-primary: #ffffff;
  --background-secondary: #eeeeff;
  --background-secondary-alt: #c7c7fd;
  --background-tertiary: #bbbbff;
  --background-floating: #bbbbff;
  --background-accent: #6c53c5;
  --channeltextarea-background: var(--background-secondary);
  --background-modifier-hover: rgba(31, 31, 56, 0.062);
  --background-modifier-active: rgba(12, 12, 19, 0.123);
  --background-modifier-selected: rgba(21, 21, 31, 0.11);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #6c53c5 !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #5a4ab6 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #6c53c5;
  border-color: #6c53c5;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}
